<html>
<head>

	<meta charset="UTF-8">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400,600,300' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>



	<title>Statement Classification Software</title>
</head>

<body>
	<div id="title">
		Know how good your statement is!
	</div>

	<textarea id="statement" placeholder="Paste your statement here!"></textarea>

	<div id="button-container">
		<button id="evaluate" class="btn btn-primary">Evaluate</button>
		<button id="instructions" class="btn btn-default">Instructions</button>
	</div>

	<div id="classification"></div>
	<div id="error"></div>

	<div id="disclaimer">
	<b>Disclaimer:</b> 
	<p>This program was made using 901 classified statements available on the web and the machine learning algorithm is just a Naive Bayes applied to the most common feature in each text. This program analyses the text based only on the words present, and does not make any context analysis. You can certainly ask the software to rate the sentence "beautiful flying cow" and it will give you a score and an error, though you can obviously imagine this result has no meaning whatsoever.</p><p>However, it is in fact quite good at rating entire statements, classifying the high majority of my training set correctly (it also rated my own statement very highly, proving that the algorithm is obviously working!). </p>
	<p>If you want more information you can read the most helpful instructions above, and in cases of utmost desperation e-mail me at migjaques@gmail.com</p>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="{{ static_url('js/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/script.js') }}"></script>
</body>
</html>