<html>
<head>

	<meta charset="UTF-8">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="app/css/bootstrap.min.css" />

	<link rel="stylesheet" href="static/css/style.css"/>



	<title>Statement Classification Software</title>
</head>

<body>
	<div id="title">
		Know how good is your statement!
	</div>
	<div id="instructions-container">
		<button id="instructions" class="btn btn-default">Instructions</button>
	</div>

	<div id="button-container">
		<button id="snap" class="btn btn-success">Snap Photo</button>
		<button id="recognize" class="btn btn-primary">Get Table</button>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
</body>
</html>