<html>
<head>

	<meta charset="UTF-8">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700,400,600,300' rel='stylesheet' type='text/css'>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ static_url('css/style.css') }}"/>



	<title>Statement Classification Software</title>
</head>

<body>
	<div id="title">
		Know how good your statement is!
	</div>

	<textarea id="statement" placeholder="Paste your statement here!"></textarea>

	<div id="button-container">
		<button id="evaluate" class="btn btn-primary">Evaluate</button>
		<button id="instructions" class="btn btn-default">Instructions</button>
	</div>

	<div id="classification"></div>

	<!-- jQuery -->
	<script type="text/javascript" src="{{ static_url('js/jquery-1.11.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ static_url('js/script.js') }}"></script>
</body>
</html>